# No main.py for now
main.py

# Environmental Variables
.env

# Virtual Environment
.venv/

# Checkpoints
checkpoints/
*.pth
sam_vit_h_4b839.pth
sam_vit_l_0b3195.pth
sam_vit_b_01ec64.pth
sam

#Data
data/*

#Python
__pycache__

