.tmp_fate_sam

# Environmental Variables
.env

# Virtual Environment
.venv/
.venv*/
.venvtool/

# Checkpoints
src/checkpoints/*
*.pth
sam_vit_h_4b839.pth
sam_vit_l_0b3195.pth
sam_vit_b_01ec64.pth
sam2.1_hiera_tiny.pt

#Data is ALLOWED, as the dataset is so small.... FREE THE DATA!
# more practical for everyone (the repo is atm private anyway)
src/data/*
!src/data/raw/
!src/data/raw/**

src/data/ground_truth/*
src/data/ground_truth/registered/*
!src/data/ground_truth/
!src/data/ground_truth/registered/
!src/data/ground_truth/registered/*.jpg
!src/data/results/
!src/data/results/**
!src/data/split.py

# ignore GF SAM data
src/gf_sam_api/vendor/gf_sam/matcher/data/*
src/gf_sam_api/vendor/gf_sam/dinov2/data/*

#Python
__pycache__
*/__pycache__

# LaTeX build artifacts
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex*
*.out
*.bcf
*.bbl-SAVE-ERROR
*.bbl
*.blg
*.lof
*.lot
*.toc
.fake